@model ProjetoBackend.Models.Compra

@{
    ViewData["Title"] = "Create";
    {

        <style>
            body {
                background-image: url('@Url.Content("~/images/background4.jpg")') !important;
            }
        </style>

    }
}

<h1 class="text-center index-paginas">Adicionar Compra</h1>


<hr />


<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="table-wrapper bg-form rounded-3 p-3">
        <div class="row">
            <div class="col-12 col-md">
                <label asp-for="FornecedorId" class="control-label"></label>
                <select asp-for="FornecedorId" class="form-control" asp-items="ViewBag.FornecedorId"></select>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
            </div>
            <div class="col-12 col-md">
                <div class="form-group">
                    <label asp-for="DataCompra" class="control-label"></label>
                    <input asp-for="DataCompra" type="text" value=@DateTime.Now.ToString("dd/MM/yyyy hh:mm:ss") class="form-control" readonly />
                    <span asp-validation-for="DataCompra" class="text-danger"></span>
                </div>
            </div>

        </div>


        <input asp-for="ValorTotal" type="hidden" value=0 class="form-control" />
        <input asp-for="Pedido" type="hidden" value=0 class="form-control" />

    </div>


    <div class="row">
        <div class="col-12 mt-4 text-center text-light botao">
            <h3>Lembre-se de checar as informações antes de adicionar.</h3>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-2">
        </div>
        <div class="col-4">
            <input type="submit" class="btn btn-success btn-lg d-flex align-itens-center justify-content-center btn-salvar" />
        </div>



        <div class="col-1 col-md-2"></div>

        <div class="col-5 col-md-4">
            <a class="btn btn-secondary btn-lg btn-salvar" asp-action="Index">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
