@model ProjetoBackend.Models.Categoria

@{
    ViewData["Title"] = "Create";
    {
        <style>
            body {
                background-image: url('@Url.Content("~/images/background3.jpg")') !important;
                opacity: 0.8;
            }
        </style>
    }
}

<h1 class="text-center index-paginas">Adicionar categoria</h1>

<hr />

<form asp-action="Create">
    <div class="table-wrapper bg-form p-4 rounded-3 text-light">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control mt-1" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-12 mt-4 text-center text-light botao">
            <h3>Lembre-se de checar as informações antes de adicionar.</h3>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-2">
        </div>
        <div class="col-4">
            <input type="submit" value="Criar" class="btn btn-success btn-salvar btn-lg" />
        </div>



        <div class="col-1 col-md-2"></div>

        <div class="col-5 col-md-4">
            <a class="btn btn-secondary btn-lg btn-salvar" asp-action="Index">Cancelar</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
