@{
    ViewData["Title"] = "Sobre a Equipe";


    {
        <style>
            body {
                background-image: url('@Url.Content("~/images/background1.jpg")') !important;
            }
        </style>
    }



}

<div class="row mt-2">
    <div class="col-2 col-md-3">
        <img src="https://placehold.co/300x270" class="img-fluid" />
    </div>
    <div class="col-2 col-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>

    <div class="col-2 col-md-2">
    </div>

    <div class="col-2 col-md mt-3">
        <img src="https://placehold.co/250x250" class="rounded-circle img-fluid" alt="Alternate Text" />
    </div>
</div>


<div class="row mt-4">
    <div class="col-2 col-md-3">
        <img src="https://placehold.co/300x270" class="img-fluid" />
    </div>
    <div class="col-2 col-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>

    <div class="col-2 col-md-1">
    </div>
    <div class="col-2 col-md-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>
</div>



<!--

<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="d-flex justify-content-center text-light">
            <img src="https://placehold.co/250x250" class="rounded-circle" alt="Alternate Text" />
        </div>

        <div class="mt-4 text-light texto-sobre p-3">
            <div style="background-color: #00CCFF;" class="border border-light text-center">

                Trabalhando para suprir a máxima performance em seu carro.
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="text-light">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.

            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>
</div>
-->
