@{
    ViewData["Title"] = "Sobre a Equipe";


    {
        <style>
            body {
                background-image: url('@Url.Content("~/images/background1.jpg")') !important;
            }
        </style>
    }


}

<div class="row gap-5 mb-5 text-light montserrat">
    <div class="col-12 col-lg">
        <div class="row gap-2">
            <div class="col-3">
                <img src="~/images/hks.jpg " style="width: 300px; height: 200px;" class="img-fluid" />
            </div>

            <div class=" col  bg-info p-3 border-light border-3 rounded-3 ">
                Inspirados pela franquia Need for Speed, buscamos criar um espaço que conecte entusiastas de automóveis ao estilo vibrante e moderno desse universo.
                Cada detalhe foi planejado para transmitir essa essência, desde o design até as funcionalidades, para que nossos usuários se sintam verdadeiramente conectados ao tema.
            </div>
        </div>

        <div class="row gap-2 mt-5">
            <div class="col-3">
                <img src="~/images/endlessr34.jpg" style="height: 310px;"class="img-fluid" />
            </div>
            <div class=" col  bg-info p-3 border-light border-3 rounded-3">
                Nossa missão é fornecer aos clientes uma plataforma intuitiva, responsiva e acessível, que facilite a busca por produtos e serviços relacionados ao universo automobilístico.
                Estamos comprometidos em oferecer qualidade, inovação e um atendimento que supere expectativas.

                Trabalhamos constantemente para melhorar a experiência de navegação, com funcionalidades práticas como a barra de pesquisas, adaptabilidade para dispositivos móveis e um layout cuidadosamente estilizado.
                Nosso objetivo é garantir que cada cliente encontre exatamente o que procura, de forma rápida, eficiente e agradável.

            </div>
        </div>

    </div>

    <div class="col-12 col-lg">
        <div class="row gap-2">
            <div class="col-12 text-center">
                <img src="https://placehold.co/280x280" class="rounded-circle img-fluid" alt="Alternate Text" />
            </div>
        </div>

        <div class="row gap-2 mt-3">
            <div class="col-12 text-center bg-info p-3 border-light border-3 rounded-3">
                Olá! Meu nome é Luiz Guilherme, nasci em Jaú - São Paulo, atualmente tenho 17 anos e estou cursando o Ensino Técnico de Desenvolvimento de Sistemas No SENAI.
                <p></p>
                Este é meu projeto final de conclusão da etapa, então decidi criar algo que remetesse a minha infância: Tunagem de Carros.
                Fiz com base em algumas ideias que tive ao decorrer da minha experiência com jogos, espero que gostem do meu site.


            </div>
        </div>
    </div>
</div>

<!--

<div class="row mt-2 text-light">
    <div class="col-3">
        <img src="https://placehold.co/300x270" class="img-fluid" />
    </div>
    <div class=" col-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>


    <div class="col ms-5 text-center">
        <img src="https://placehold.co/280x280" class="rounded-circle img-fluid" alt="Alternate Text" />
    </div>
</div>


<div class="row mt-4 text-light">
    <div class=" col-md-3">
        <img src="https://placehold.co/300x270" class="img-fluid" />
    </div>
    <div class=" col-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>

    <div class=" col-md-1">
    </div>
    <div class=" col-md-4">
        <div class="table-wrapper bg-info p-3 border-light border-3 rounded-3">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.
            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>
</div>

-->
<!--

<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="d-flex justify-content-center text-light">
            <img src="https://placehold.co/250x250" class="rounded-circle" alt="Alternate Text" />
        </div>

        <div class="mt-4 text-light texto-sobre p-3">
            <div style="background-color: #00CCFF;" class="border border-light text-center">

                Trabalhando para suprir a máxima performance em seu carro.
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
        <div class="text-light">
            Pellentesque vitae sagittis ante. Suspendisse varius tortor quis purus rutrum, eget laoreet purus scelerisque.
            Suspendisse cursus commodo lacus, ac porta sapien sollicitudin sit amet. In sapien purus, venenatis eu eleifend nec, tincidunt vel felis.

            Maecenas posuere sapien sed varius auctor. Etiam ut mattis arcu. Nullam congue odio sed augue iaculis, et sagittis libero vestibulum.
            Praesent justo lacus, auctor nec erat a, volutpat euismod ex. Fusce non nisl eget nulla interdum lobortis.
        </div>
    </div>
</div>
-->
