@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    {
        <style>
            body {
                background-image: url('@Url.Content("~/images/background5.jpg")') !important;
                opacity: 0.8;
            }
        </style>
    }
}

<div class="row">
    <div class="col-2 col-lg-4"></div>
    <div class="col-8 col-lg-4">

        <section class="margem-topo">
            <div class="text-center">
                <img src="/images/garage2.png" />

            </div>
            <form id="account" method="post">
                <div class="table-wrapper p-3 custom-table rounded-3 text-light">

                    <h2 class="bebas-medio text-center">Faça login em sua conta.</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label text-dark montserrat">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label text-dark montserrat">Senha</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3 montserrat">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            Lembrar-se de mim?
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="mb-4 w-100 btn btn-lg btn-outline-info bebas">Entrar</button>
                    </div>
                    <hr />
                    <div>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword" class="montserrat">Esqueceu sua senha?</a>
                        </p>


                    </div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-2 col-md-4"></div>
</div>






@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
